table {
  margin: auto;
}
td {
  border: solid 1px black;
  padding: 10px;
  text-align: center;
}
a {
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  height: 25px;
  max-width: 50%;
}
select {
  height: 25px;
  max-width: 50%;
}
.content {
  max-width: 80%;
  margin: 5px auto 5px auto;
}
.white {
  color: white;
}

.nav-btn {
  border: 1px solid green;
  color: white;
  background-color: green;
  margin: 1px;
  text-decoration: none;
  text-align: center;
  padding: 25px 15px;
}
.nav-btn:hover{
  background-color: black;
  color: red;
}
.form-btn{
  background-color: blue;
  color: white;
  height: 25px;
  width: fit-content;
  border-radius: 5px;
  margin: 5px;
}
#header {
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

#main-nav {
  display: flex;
  justify-content: end;
  padding: 5px;
}